<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <title>Kalkulator Metode Numerik</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Pilih Metode Numerik</h1>
        <div class="method-list"><a href="/bisection" class="method-card">Metode Biseksi</a><a href="/regula-falsi"
                class="method-card">Metode Regula Falsi</a><a href="/newton-raphson" class="method-card">Metode
                Newton-Raphson</a><a href="/secant" class="method-card">Metode Secant</a><a href="/maclaurin"
                class="method-card">Deret MacLaurin</a><a href="/gauss-seidel" class="method-card">Iterasi
                Gauss-Seidel</a></div>
    </div>
</body>

</html>